@import "./Variable";

.inner1{
  padding-top:50px;
  padding-bottom:50px;
}
.inner2{
  padding-top:30px;
  padding-bottom:50px;
}

%contentStyle1{
    padding: $inner_padding;
    border-radius: 25px;
    margin-bottom: 10px;
    margin: 0px auto;
    width: 450px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  %contentStyle2{
  border-radius: 10px; 
  margin-bottom: 10px;
  margin: 0px;
  height: 160px;
  color: #e9e9e9;
  line-height: 160px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contentStyle1{
  @extend %contentStyle1;
}
.contentStyle2{
  @extend %contentStyle1;
}
.contentStyle3{
  @extend %contentStyle1;
}
.contentStyle4{
  @extend %contentStyle1;
}
.contentStyle5{
    @extend %contentStyle2;
    background-image: url("../../public/images/banner/Banner_img_5.png")
  }
  .contentStyle6{
    @extend %contentStyle2;
    background-image: url("../../public/images/banner/Banner_img_6.png")
  }
  .contentStyle7{
    @extend %contentStyle2;
    background-image: url("../../public/images/banner/Banner_img_7.png")
  }
  .contentStyle8{
    @extend %contentStyle2;
    background-image: url("../../public/images/banner/Banner_img_8.png")
  }


