    #container {
      .inner {
        padding: $inner_padding;
        .content_box{
            padding: 40px 0px;
            h1{
                padding: 20px 10px;
                font-size: $font_size_7;
                font-weight: 500;
            }
            .category_btn{ 
        }
        }
        
        
      }
    }
  