@import "./Variable";




.header{min-width: 320px ;max-width: 480px; height: 160px; margin:0 auto; }
.header_gnb{display: flex; position: relative; width: 100%; height: 80px; }
.header_gnb::before{position: absolute; content: ""; width: 100%;height: 1px; top: 80px; background-color:darkgray;}
.header_gnb_menu{ padding:28px 0px 28px 16px;}
.header_gnb_logo{ margin: 28px 138px; }
.header_gnb_alarm{padding: 28px 0px;}
.header_search{display: flex; position: relative; width: 480px; height: 80px;}
.header_search::before{ position: absolute; content:""; width: 30px; height: 30px; top: 33%; left: 87%; background-image: url(../components/img/searchIcon.png); background-repeat: no-repeat; }
.header_search input{width: 480px;height: 40px; margin: 20px auto; padding-left: 21px; border: none;  border-radius: 30px; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15); background-color: rgba(238, 238, 238, 1);   color: rgb(199, 198, 198);}
