@charset "utf-8";
@import "./Variable";

.products {
    .header {
        .header_top {
            display: flex;
            flex-direction: row;
            height: 50px;
            padding: 10px 0;
        }
    }
}