@charset "utf-8";
@import "./Variable";

#upload-container{
    #container{
            .inner{
                .inner-form{
                    .upload-label{
                    font-size: $font_size_3;
                    font-weight: bold;
                }
                    .category{
                        width: 100%;
                    }
                    .brand-name{
                        width: 100%;
                    }
                
                }
            }
    }
}
#upload-img-placeholder{
    width:180px;
    height:180px;
    padding:15px;
    border: 1px solid ;
    border-radius: 15px;
}

#submit-button{
    background-color: $primary;
    font-size: $font_size_4;
    color: $text;
    border-color: $background;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    height: 49px;
    width: 100%;
    margin-bottom: 40px;
}
