@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$Primary : #74BF04;
$Secondary : #558C03;
$Accent : #93F205;
$Background : #FFFFFF;
$Text : #333333;
 
*{font-family: 'Noto Sans KR', 'Roboto', sans-serif;}

$font_size_1 : 12px;
$font_size_2 : 14px;
$font_size_3 : 16px;
$font_size_4 : 18px;
$font_size_5 : 20px;
$font_size_6 : 22px;
$font_size_7 : 26px;

